/* Consult benefits - Styles*/
#consult-benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
    gap: 2.5rem;
    width: 50%;
    margin: 0 auto;
}

#consult-benefits-section h2 {
    color: var(--basic-dark-text-color);
    font-size: 1.1rem;
    text-align: center;
    width: fit-content;
    padding: 0rem 0.8rem;
}

#consult-benefits-section #consult-benefits-div {
    background-color: var(--blue-quaternary-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 4rem;
    width: 100%;
    border-radius: 0.5rem;
}

#consult-benefits-section #consult-benefits-div > p {
    color: var(--blue-secondary-color);
    font-weight: 600;
    font-size: 0.85rem;
}

#consult-benefits-section #consult-benefits-div #consult-benefits-div-inputs {
    display: flex;
    gap: 2.5rem;
    
}

#consult-benefits-section #consult-benefits-div #consult-benefits-div-inputs div {
    display: flex;
    align-items: center;    
    gap: 0.4rem;
    font-size: 0.9rem;
    color: var(--blue-secondary-color);
    font-weight: 600;
}

#consult-benefits-section #consult-benefits-div #consult-benefits-div-inputs div input:hover, #consult-benefits-section #consult-benefits-div #consult-benefits-div-inputs div label:hover {
    cursor: pointer;
}

#div-consult-input {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#consult-input-benefit {
    border: 1px solid var(--blue-secondary-color);
    border-radius: 0.2rem;
    padding: 0.75rem 1rem;
    -webkit-appearance: none;
}

#consult-input-error {
    font-size: 0.8rem;
    color: red;
}

#consult-button {
    margin: 0 auto;
    color: var(--basic-white-color);
    background-color: var(--blue-secondary-color);
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0.8rem 6rem;
    border-radius: 0.4rem;
    text-align: center;
}

/*Media queries - Responsivity*/
@media screen and (max-width: 920px) {
    #consult-benefits-section {
        width: 70%;
    }
}

@media screen and (max-width: 540px) {
    #consult-benefits-section {
        width: 85%;
    }

    #consult-input-benefit {
        width: 100%;
    }

    #consult-button {
        padding: 0.8rem 3rem;
    }
}

@media screen and (max-width: 420px) {
    #consult-benefits-section #consult-benefits-div {
        padding: 2rem 1rem;
    }

    #consult-input-benefit::placeholder {
        font-size: 0.7rem;
    }
}